@import "tailwindcss";

@theme {
  --animate-progress-indeterminate: progress-indeterminate 1.5s infinite linear;
  @keyframes progress-indeterminate {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(100%); }
  }
}
